<div class="container">
  <div class="user-table">
    <table width="100%">
      <tr>
        <th (click)="sort('name')" [class.south-sort]="oldSortArg !== 'name' || sortFlag === 1"
        [class.north-sort]="oldSortArg === 'name' && sortFlag === -1">Name</th>
        <th (click)="sort('age')" [class.south-sort]="oldSortArg !== 'age' || sortFlag === 1"
        [class.north-sort]="oldSortArg === 'age' && sortFlag === -1">Age</th>
        <th (click)="sort('gender')" [class.south-sort]="oldSortArg !== 'gender' || sortFlag === 1"
        [class.north-sort]="oldSortArg === 'gender' && sortFlag === -1">Gender</th>
        <th (click)="sort('department')" [class.south-sort]="oldSortArg !== 'department' || sortFlag === 1"
        [class.north-sort]="oldSortArg === 'department' && sortFlag === -1">Department</th>
        <th class="col-5" (click)="sort('address')"  [class.south-sort]="oldSortArg !== 'address' || sortFlag === 1"
        [class.north-sort]="oldSortArg === 'address' && sortFlag === -1">Address</th>
      </tr>
    <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.department}}</td>
        <td class="col-5" >{{user.address.city}}, {{user.address.street}}</td>
      </tr>
    </table>
  </div>
</div>