<div class="container">
  <div class="user-table">
    <table width="100%">
      <tr>
        <th (click)="sort('name')">Name</th>
        <th (click)="sort('age')">Age</th>
        <th (click)="sort('gender')">Gender</th>
        <th (click)="sort('department')">Department</th>
        <th class="col-5" (click)="sort('address')">Address</th>
      </tr>
    <tr *ngFor="let user of filteredUsers">
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.department}}</td>
        <td class="col-5" >{{user.address.city}}, {{user.address.street}}</td>
      </tr>
    </table>
  </div>

  <div class="filters">
    <div>
      GENDER <br>
      <label *ngFor="let gender of getKeys(genders)" >
        <input type="checkbox" [checked]="gender === genderFilter" (click)="
        genderFilter ?
          genderFilter = null :
          genderFilter = gender;
        filter();
        "> {{gender}} ({{this.genders[gender]}}) <br>
      </label>
    </div>

    <div>
      DEPARTMENT <br>
      <label *ngFor="let department of getKeys(departments)" >
        <input type="checkbox" [checked]="department === departmentFilter" (click)="
        departmentFilter ?
          departmentFilter = null :
          departmentFilter = department;
        filter()
        "> {{department}} ({{this.departments[department]}}) <br>
      </label>
    </div>

    <div>
      CITY <br>
      <label *ngFor="let city of getKeys(cities)" >
        <input type="checkbox" [checked]="city === cityFilter" (click)="
        cityFilter ? 
          cityFilter = null : 
          cityFilter = city; 
        filter()
        "> {{city}} ({{this.cities[city]}}) <br>
      </label>
    </div>
  </div>
</div>