@media screen and (min-width: 950px) {
    .col-5 {
        display: inherit;
    }
}

@media screen and (max-width: 949px) {
    .col-5 {
        display: none;
    }
}

table {
    width: 100%;
    max-width: 1200px;
}

th.north-sort {
    cursor: n-resize;
}

th.south-sort {
    cursor: s-resize;
}