@media screen and (min-width: 950px) {
    .filters {
        display: flex;
    }

    .col-5 {
        display: inherit;
    }
}

@media screen and (max-width: 949px) {
    .filters {
        display: block;
    }

    .col-5 {
        display: none;
    }
}

table {
    width: 100%;
}

.container {
    display: flex;
}

.user-table {
    flex-grow: 1;
}